#not-found {
  text-align: center;
}

#not-found a {
  text-decoration: none;
  color: #A98831;
}

#not-found a:hover {
  text-decoration: underline;
  color: #A98831;
}

.not-found-text {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 0;
}

.not-found-code {
  font-size: 90px;
  font-weight: 200;
  margin-bottom: 0;
}