#header .main-header-wrapper{
  text-align: center;
}

#header .main-logo{
  max-height: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

#header .hamburger-wrapper{
  position: absolute;
  margin-left: 1em;
}

#header .hamburger-icon{
  border-radius: 15px;
}

#header .main-logo-wrapper{
  margin: auto;
}

#desktop-header .desktop-logo-wrapper{
  padding: 10px 20px;
  position: relative;
}

#desktop-header .desktop-logo-wrapper .main-logo{
  margin: 0;
  padding: 0;
  max-height: 130px;
}

#desktop-header .desktop-right-logo-outer-wrapper{
  padding: 10px 20px;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translate(0,-50%);
}

#desktop-header .desktop-right-logo-inner-wrapper{
  margin-left: 30px;
}

#desktop-header .desktop-right-logo-text{
  margin-left: 5px;
}

/* NavMenu Start */
#nav-menu{
  text-transform: uppercase;
  padding: 15px;  /* TODO: media, text size depends on viewport */
  min-width: 225px;
}

#nav-menu ul{
  list-style-type: none;
  padding: 0;
}

#nav-menu li{
  margin-bottom: 15px;
}

#nav-menu li a{
  text-decoration: none;
  color: #333;
}

#nav-menu li a:hover{
  text-decoration: underline;
  color: #333;
}

#nav-menu .sub-menu-header{
  cursor: pointer;
}

#nav-menu .sub-menu-header:hover{
  text-decoration: underline;
  color: #333;
}

.cross-icon{
  float: right;
}

#main-menu{
  position: fixed;
  margin-left: 9px;
  z-index: 2;
  top: 25%;
  width: 225px;
  overflow: hidden;
}

#main-menu .main-logo{
  max-height: 150px;
  margin-bottom: 1em;
}

@media (min-width: 996px) {
  #nav-menu li{
    margin: 6px;
  }
}