#footer {
  background-color: #f9f9f9;
  margin-top: 30px;
  padding: 32px;
  text-align: center;
}

#footer .right-col {
  text-align: center;
}

#footer .social-icons-wrapper {
  display: inline-block;
  margin-top: 4px;
}

#footer .social-icons-wrapper .icon {
  font-size: 20px;
}

#footer .social-icons-wrapper .icon:not(:first-child) {
  margin-left: 14px;
}

#footer .footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}


#footer .footer-nav li {
  margin-bottom: 8px;
}

#footer .footer-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-size: 10px;
}

#footer .footer-nav a:hover {
  text-decoration: underline;
  color: #545454;
}